@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Verdana,
    Roboto,
    Cantarell,
    Fira Sans,
    Droid Sans,
    sans-serif,
    -apple-system,
    BlinkMacSystemFont;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  padding: 3rem;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h3 {
  text-align: center;
  padding: 1rem;
  font-size: 18px;
}

h4 {
  text-align: center;
  padding: 2rem;
  font-size: 48px;
}

h5 {
  text-align: center;
  padding-top: 0;
  font-size: 36px;
}

hr {
  width: 100%;
}

.about {
  text-align: center;
}

.navigation {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.about-image {
  justify-items: center;
  margin: auto;
}

.landingContent {
  z-index: 20;
}

.landingTitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.landingImage {
  z-index: -10;
  object-fit: cover;
  overflow: hidden;
  @media (min-width: 640px) {
    width: 100vw;
  }
  @media (min-width: 768px) {
    width: 100vw;
  }
  @media (min-width: 1024px) {
    width: 100vw;
  }
  @media (min-width: 1280px) {
    width: 80vw;
    padding-top: 0px;
  }
  @media (min-width: 1536px) {
    width: 80vw;
    padding-top: 0px;
  }
}

.landing {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  @media (min-width: 640px) {
    width: 100vw;
    height: 56vw;
    padding-top: 10rem;
  }
  @media (min-width: 768px) {
    width: 100vw;
    height: 50vw;
  }
  @media (min-width: 1024px) {
    width: 100vw;
    height: 100vh;
    padding-top: 0;
  }
  @media (min-width: 1280px) {
    width: 80vw;
    margin-left: 18rem;
    margin-right: 0;
  }
  @media (min-width: 1536px) {
    width: 80vw;
    margin-left: 24rem;
    margin-right: 0;
  }
}

.body-content {
  display: flex;
  position: relative;
  margin-bottom: 20vw;
  @media (min-width: 1280px) {
    margin-left: 20rem;
    margin-bottom: 10vw;
    width: 70vw;
  }
  @media (min-width: 1536px) {
    width: 80vw;
    margin-left: 24rem;
    margin-right: 0;
  }
}

.cocktails {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cocktails-icon {
  @media (max-width: 1024px) {
    hidden: true;
  }
}

.cocktails-list {
  margin-left: 5vw;
  margin-right: 5vw;
}

.cocktails-h1 {
  text-align: center;
  font-size: 72pt;
  line-height: 80%;
  padding-top: 0px;
  padding-bottom: 5vw;
  @media (min-width: 1280px) {
    font-size: 112pt;
  }
  @media (min-width: 1536px) {
    font-size: 136pt;
  }
}

.cocktails-h2 {
  font-size: 44pt;
  @media (min-width: 1280px) {
    font-size: 64pt;
  }
  @media (min-width: 1536px) {
    font-size: 84pt;
  }
}

.cocktails-name {
  font-size: 32pt;
}

.cocktails-description {
  font-size: 18pt;
}

.cocktails-ingredients {
  font-size: 16pt;
}

.cocktails-banner {
  z-index: -10;
  overflow: hidden;
  padding-top: 26px;
  @media (min-width: 640px) {
    width: 100vw;
  }
  @media (min-width: 768px) {
    width: 100vw;
    padding-top: 0px;
  }
  @media (min-width: 1024px) {
    width: 100vw;
  }
  @media (min-width: 1280px) {
    width: 72vw;
  }
  @media (min-width: 1536px) {
    margin-left: 6rem;
  }
}

.carousel-title {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cocktails-carousel {
  height: 496px;
  align-content: center;
  @media (min-width: 1024px) {
    height: 680px;
  }
  padding-top: 2rem;
  padding-bottom: 0;
}

.logoBanner {
  grid-column: span 1;
  justify-items: center;
  display: flex;
  flex-shrink: initial;
}

#cocktails {
  scroll-margin-top: 140px;
}
#contact {
  scroll-margin-top: 96px;
}
#about {
  scroll-margin-top: 96px;
  margin-left: 5vw;
  margin-right: 5vw;
}
