@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "EB Garamond", serif;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  padding: 3rem;
  font-size: 28pt;
  font-family: "EB Garamond", serif;
}

h3 {
  text-align: center;
  padding: 1rem;
  font-size: 18pt;
}

h4 {
  text-align: center;
  padding: 2rem;
  font-size: 48px;
}

h5 {
  text-align: center;
  padding-top: 0;
  font-size: 36px;
}

hr {
  width: 100%;
}

.about {
  text-align: center;
}

.navigation {
  font-size: 18pt;
  font-family: "EB Garamond", serif;
}

.about-image {
  justify-items: center;
  margin: auto;
}

.landingContent {
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landingTitle {
  font-family: "EB Garamond", serif;
}
.landingImage {
  z-index: -10;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.landing {
  display: flex;
  position: relative;
  z-index: 39;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 6rem);
  margin-top: 6rem;
  @media (min-width: 1280px) {
    z-index: 40;
    width: calc(100vw - 18rem);
    margin-left: 18rem;
    margin-top: 0;
    height: 100vh;
  }
  @media (min-width: 1536px) {
    width: calc(100vw - 18rem);
    margin-left: 18rem;
  }
}

.body-content {
  display: flex;
  position: relative;
  margin-bottom: 20vw;
  font-size: 14pt;
  @media (min-width: 1280px) {
    margin-left: 20rem;
    margin-bottom: 10vw;
    width: 70vw;
  }
  @media (min-width: 1536px) {
    width: 80vw;
    margin-left: 24rem;
    margin-right: 0;
  }
}

.cocktails {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cocktails-icon {
  @media (max-width: 1024px) {
    hidden: true;
  }
}

.cocktails-list {
  margin-left: 5vw;
  margin-right: 5vw;
}

.cocktails-h1 {
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 72pt;
  line-height: 80%;
  padding-top: 0px;
  padding-bottom: 5vw;
  @media (min-width: 1280px) {
    font-size: 112pt;
  }
  @media (min-width: 1536px) {
    font-size: 136pt;
  }
}

.cocktails-h2 {
  font-size: 44pt;
  font-family: "Allura";
  padding-top: 3rem;
  @media (min-width: 1280px) {
    font-size: 64pt;
  }
  @media (min-width: 1536px) {
    font-size: 84pt;
  }
}

.cocktails-name {
  font-family: "EB Garamond", serif;
  font-size: 32pt;
}

.cocktails-description {
  font-family: "EB Garamond", serif;
  font-size: 18pt;
}

.cocktails-ingredients {
  font-family: "EB Garamond", serif;
  font-size: 16pt;
}

.cocktails-banner {
  z-index: -10;
  overflow: hidden;
  padding-top: 26px;
  @media (min-width: 640px) {
    width: 100vw;
  }
  @media (min-width: 768px) {
    width: 100vw;
    padding-top: 0px;
  }
  @media (min-width: 1024px) {
    width: 100vw;
  }
  @media (min-width: 1280px) {
    width: 72vw;
  }
  @media (min-width: 1536px) {
    margin-left: 6rem;
  }
}

.carousel-title {
  font-size: 22px;
  font-family: "EB Garamond", serif;
}

.cocktails-carousel {
  height: 496px;
  align-content: center;
  @media (min-width: 1024px) {
    height: 680px;
  }
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logoBanner {
  grid-column: span 1;
  justify-items: center;
  display: flex;
  flex-shrink: initial;
}

#cocktails {
  scroll-margin-top: 0px;
}
#contact {
  scroll-margin-top: 0px;
}
#about {
  scroll-margin-top: 0px;
  margin-left: 5vw;
  margin-right: 5vw;
}
