@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  padding: 3rem;
}

hr {
  width: 100%;
}

.about {
  text-align: center;
}

.about-image {
  justify-items: center;
  margin: auto;
}

.landingContent {
  z-index: 20;
}

.landingImage {
  z-index: -10;
  object-fit: cover;
  overflow: hidden;
  @media (min-width: 640px) {
    width: 100vw;
    height: max-content;
  }
  @media (min-width: 768px) {
    width: 100vw;
    height: 24rem;
  }
  @media (min-width: 1024px) {
    width: 100vw;
    height: 100vh;
  }
  @media (min-width: 1280px) {
    width: 100vw;
    padding-top: 0px;
  }
  @media (min-width: 1536px) {
    width: 100vw;
    padding-top: 0px;
  }
}

.landing {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  @media (min-width: 640px) {
    width: 100vw;
    height: fit-content;
  }
  @media (min-width: 768px) {
    width: 100vw;
    height: 24rem;
  }
  @media (min-width: 1024px) {
    width: 100vw;
    height: 100vh;
  }
  @media (min-width: 1280px) {
    width: 100vw;
    margin-right: 0;
    margin-left: 18rem;
  }
  @media (min-width: 1920px) {
    width: 100vw;
    margin-left: 10rem;
    margin-right: 0;
  }
}

.body-content {
  display: flex;
  position: relative;
  width: 100vw;
  margin-bottom: 18rem;
  @media (min-width: 1280px) {
    margin-left: 18rem;
  }
  @media (min-width: 1920px) {
    width: 100vw;
    margin-left: 10rem;
    margin-right: 0;
  }
}

.cocktails {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cocktails-carousel {
  height: 496px;
  align-content: center;
  @media (min-width: 1024px) {
    height: 680px;
  }
  //padding-top: 2rem;
  //padding-bottom: 2rem;
}

.logoBanner {
  grid-column: span 1;
  justify-items: center;
  display: flex;
  flex-shrink: initial;
}

#cocktails {
  scroll-margin-top: 140px;
}
#contact {
  scroll-margin-top: 140px;
}
#about {
  scroll-margin-top: 140px;
}
